<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stubborn.icecreamrecepe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".rcpOne" />
        <activity android:name=".rcpTwo" />
        <activity android:name=".rcpThree" />
        <activity android:name=".rcpFour" />
        <activity android:name=".rcpFive" />
        <activity android:name=".rcpSix" />
        <activity android:name=".rcpSeven" />
        <activity android:name=".rcpEight" />
        <activity android:name=".rcpNine" />
        <activity android:name=".rcpTen" />
        <activity android:name=".rcpEleven" />
        <activity android:name=".rcpTwelve" />
        <activity android:name=".rcpThirteen" />
        <activity android:name=".rcpFourteen" />
        <activity android:name=".rcpFifteen" />
        <activity android:name=".rcpSixteen" />
        <activity android:name=".rcpSevventeen" />
        <activity android:name=".rcpEighteen" />
        <activity android:name=".rcpNineteen" />
        <activity android:name=".rcpTwenty" />
        <activity android:name=".Splash"> <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
    </application>

</manifest>